* {
    /* background-color: rosybrown; */
}

#layout {
    width: 812px;
    height: 375px;
    border: 2px solid gold;
}

/*//////////////////////////////////////////////////// PAGES ///////////////////////////////////////// */


.mainPage {
    background-image: url('images/main_page.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.professorOaksLab {
    background-image: url('images/pokemon-professor-oak-facts-trivia.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
    background-size: cover;
}

.oakLabDiv0 {
    width: 150px;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column-reverse;
}

.oakLabDiv1 {
    width: 500px;
    height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.oakLabDiv2 {
    width: 100px;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column-reverse;
}




.meadow {
    background-image: url('images/meadow.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
    background-size: cover;
}

.meadowDiv0 {
    width: 150px;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
}

.meadowDiv1 {
    width: 450px;
    height: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.meadowDiv2 {
    width: 180px;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}











.mainTown {
    background-image: url('images/img1.PNG');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
    background-size: cover;
}

.pokeCentre {
    background-image: url('images/pokemon\ centre.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
    background-size: cover;
}

.shop {
    background-image: url('images/shop.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
    background-size: cover;
}

.forest {
    background-image: url('images/forest.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
    background-size: cover;
}

.beach {
    background-image: url('images/beach.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
    background-size: cover;
}

.deepForest {
    background-image: url('images/deep_forest.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
    background-size: cover;
}

.cave {
    background-image: url('images/cave.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
    background-size: cover;
}

.deepCave {
    background-image: url('images/deep_cave.png');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
    background-size: cover;
}

/*//////////////////////////////////////////////////// PAGES ///////////////////////////////////////// */




/*//////////////////////////////////////////////////// BUTTONS ///////////////////////////////////////// */

.mainPageButton { 
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.continueButton { 
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 500;
    margin: 5px;
    cursor: pointer;
}

.exitLab {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.enterTown {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.explore {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.enterLab {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.training {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.enterPokeCentre {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.enterShop {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.gym {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.pokeCentreToTown {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.healPokemon {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.leaveButton {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.respawnButton {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.shopToTown {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buyItems {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.sellItems {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.leaveShop {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.enterForest {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.enterMeadow {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.enterMainTown {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.enterBeach {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.enterDeepForest {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.enterCave {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.caveToForest {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.caveToDeepCave {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.deepCaveToCave {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}




/*//////////////////////////////////////////////////// BUTTONS //////////////////////////////////////////// */



/*//////////////////////////////////////////////////// CHOOSE POKEMON //////////////////////////////////////////// */

.charmander {
    background-color: yellow;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.squirtle {
    background-color: yellow;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.bulbasaur {
    background-color: yellow;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/*//////////////////////////////////////////////////// CHOOSE POKEMON //////////////////////////////////////////// */



/*/////////////////////////////////////////////// BATTLE DISPLAY /////////////////////////////////////////// */

.battle {
    /* background-image: url('images/pokemonred-e1529430185757.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat; */
    background-color: beige;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.enemyInfoDisplay{
    border: 2px solid red;
    width: 300px;
    height: 100px;
}

.enemyPicture{
    border: 2px solid red;
    width: 400px;
    height: 200px;
    margin: 10px;
    background-repeat: no-repeat, repeat;
    display: flex;
    justify-content: center;
    background-size: contain;

}

.userPicture{
    border: 2px solid red;
    width: 400px;
    height: 200px;
    margin: 10px;
    background-repeat: no-repeat, repeat;
    justify-content: center;
    align-content: center;
    background-size: contain;

}

.userInfoDisplay{
    border: 2px solid red;
    width: 300px;
    height: 100px;
    align-items: center;
}

#userDisplay0{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userDisplay1{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enemyDisplay0{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enemyDisplay1{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertBox{
    border: 2px solid red;
    width: 400px;
    height: 100px;
    text-align: center;
}

#alertDisplay0{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alertDisplay1{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.battleCommandsDisplay{
    border: 2px solid red;
    width: 300px;
    height: 200px;
}

.alertButtons {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 50px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.fightButton {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.itemButton {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.changePokemonButton {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.runButton {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#skill0 {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#skill1 {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#skill2 {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#skill3 {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*/////////////////////////////////////////////// BATTLE DISPLAY /////////////////////////////////////////// */



/*/////////////////////////////////////////////// NPC /////////////////////////////////////////// */


.professorOak1 {
    width: 150px;
    height: 125px;
    cursor: pointer;
}

.professorOak2 {
    width: 150px;
    height: 125px;
    cursor: pointer;
}

.suspiciousTree {
    width: 300px;
    height: 300px;
    margin: 75px;
    cursor: pointer;
    border: 2px solid red;
}

.suspiciousRock {
    width: 300px;
    height: 300px;
    margin: 75px;
    cursor: pointer;
    border: 2px solid red;
}

.suspiciousMoss {
    width: 300px;
    height: 300px;
    margin: 75px;
    cursor: pointer;
    border: 2px solid red;
}

.suspiciousObject {
    width: 300px;
    height: 300px;
    margin: 75px;
    cursor: pointer;
    border: 2px solid red;
}

.suspiciousThing {
    width: 300px;
    height: 300px;
    margin: 75px;
    cursor: pointer;
    border: 2px solid red;
}


/*/////////////////////////////////////////////// NPC /////////////////////////////////////////// */

