* {
    /* background-color: rosybrown; */
}

#layout {
    width: 1000px;
    height: 1000px;
    border: 2px solid gold;
}

/*//////////////////////////////////////////////////// PAGES ///////////////////////////////////////// */


.mainPage {
    /* background-color: royalblue; */
    background-image: url('images/main_page.jpg');
    /* background-image: url('images/pokemon/pikachu.jpg'); */

    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}


.choosePokemonPage {
    background-image: url('images/pokemon-professor-oak-facts-trivia.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
    flex-direction: column-reverse;
}

.mainTown {
    background-image: url('images/img1.PNG');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
}

.meadow {
    background-image: url('images/meadow.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
}

.forest {
    background-image: url('images/forest.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
}

.beach {
    background-image: url('images/beach.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
}

.deepForest {
    background-image: url('images/deep_forest.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
}

.cave {
    background-image: url('images/cave.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
}

.deepCave {
    background-image: url('images/deep_cave.png');
    opacity: 0.5;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    align-content: center;
}

/*//////////////////////////////////////////////////// PAGES ///////////////////////////////////////// */





.container4 {
    background-color: yellow;
}

.container5 {
    background-color: purple;
}

/*//////////////////////////////////////////////////// BUTTONS ///////////////////////////////////////// */

 .mainPageButton { 
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.training {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.pokeCentre {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.shop {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.gym {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.journey {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.alertButton {
    background-color: yellow;
    border: none;
    color: black;
    width: 100px;
    height: 100px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.fightButton {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.itemButton {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.changePokemonButton {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.runButton {
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.charmander {
    background-color: yellow;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.squirtle {
    background-color: yellow;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.bulbasaur {
    background-color: yellow;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}




/*//////////////////////////////////////////////////// BUTTONS //////////////////////////////////////////// */



/*/////////////////////////////////////////////// BATTLE DISPLAY /////////////////////////////////////////// */

.battle {
    /* background-image: url('images/pokemonred-e1529430185757.jpg');
    opacity: 0.5;
    background-repeat: no-repeat, repeat; */
    background-color: beige;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.enemyInfoDisplay{
    border: 2px solid red;
    width: 300px;
    height: 100px;
}

.enemyPicture{
    border: 2px solid red;
    width: 400px;
    height: 200px;
    margin: 10px;
    background-repeat: no-repeat, repeat;
}

.userPicture{
    border: 2px solid red;
    width: 400px;
    height: 200px;
    margin: 10px;
    background-repeat: no-repeat, repeat;
    justify-content: center;
    align-content: center;
}

.userInfoDisplay{
    border: 2px solid red;
    width: 300px;
    height: 100px;
    align-items: center;
}

#userDisplay0{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userDisplay1{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enemyDisplay0{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enemyDisplay1{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertBox{
    border: 2px solid red;
    width: 400px;
    height: 200px;
    text-align: center;
}

.battleCommandsDisplay{
    border: 2px solid red;
    width: 300px;
    height: 200px;
}


/*/////////////////////////////////////////////// BATTLE DISPLAY /////////////////////////////////////////// */


/*/////////////////////////////////////////////// NPC /////////////////////////////////////////// */

.professorOak1 {
    width: 300px;
    height: 300px;
    margin: 75px;
    cursor: pointer;
}

.professorOak2 {
    width: 300px;
    height: 300px;
    margin: 75px;
    cursor: pointer;
}


/*/////////////////////////////////////////////// NPC /////////////////////////////////////////// */

