
#layout {
    width: 812px;
    height: 375px;
    /* border: 2px solid gold; */
}

/*//////////////////////////////////////////////////// PAGES ///////////////////////////////////////// */

.mainPage {
    background-image: url('images/main_page.jpg');
    opacity: 0.7;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.endGamePage {
    background-image: url('images/endgame.jpg');
    opacity: 0.7;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endGameText {
    width: 200px;
    height: 30px;
    font-weight: 900;
    background-color: aliceblue;
    position: relative;
    animation-name: rainbow-move-change;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* @keyframes rainbow-move-change {
    0% {background: black; left:0%; top:0%;}
    10% {background: crimson; }
    25% {background: hotpink; left: 25%; top:0px;}
    30% {background: coral;}
    40% {background: lightyellow;}
    50% {background: palegreen; left: 25%; top: 10em; transform: rotate(600deg); }
    60% {background: mediumaquamarine; }
    75% {background: steelblue; left:-25%; top:10em; border-radius: 100%;}
    80% {background: darkviolet;}
    90% {background: black; }
    100% {background: ghostwhite; left:0px; top:0px; }
  } */

.professorOaksLab {
    background-image: url('images/pokemon-professor-oak-facts-trivia.jpg');
    opacity: 0.7;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-content: center;
    background-size: cover;
}

.oakLabDiv0 {
    width: 150px;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
}

.oakLabDiv1 {
    width: 500px;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.oakLabDiv2 {
    width: 100px;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
}

.oakLabDiv3 {
    width: 100px;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
}

.meadow {
    background-image: url('images/meadow.jpg');
    opacity: 0.7;
    background-repeat: no-repeat, repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-content: center;
    background-size: cover;
}

.meadowDiv0 {
    width: 150px;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
}

.meadowDiv1 {
    width: 450px;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.meadowDiv2 {
    width: 180px;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.mainTown {
    background-image: url('images/img1.PNG');
    opacity: 0.7;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.mainTownDiv0 {
    width: 32%;
    height: 70%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
}

.mainTownDiv1 {
    width: 32%;
    height: 70%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.mainTownDiv2 {
    width: 32%;
    height: 70%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mainTownDiv3 {
    width: 32%;
    height: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
}

.mainTownDiv4 {
    width: 32%;
    height: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.mainTownDiv5 {
    width: 32%;
    height: 30%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
} 

.pokeCentre {
    background-image: url('images/pokemon\ centre.jpg');
    opacity: 0.7;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-size: cover;
}

.pokeCentreDiv1 {
    width: 99%;
    height: 49%;
    /* border: 2px solid black; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.pokeCentreDiv2 {
    width: 99%;
    height: 49%;
    /* border: 2px solid black; */
    display: flex;
    align-items: flex-end;
}

.shop {
    background-image: url('images/shop.jpg');
    opacity: 0.7;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-content: center;
    background-size: cover;
}

.shopDiv1 {
    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
}

.shopDiv2 {
    width: 49%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.forest {
    background-image: url('images/forest.jpg');
    opacity: 0.7;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-content: center;
    background-size: cover;
}

.forestDiv0 {
    width: 20%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
}

.forestDiv1 {
    width: 20%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.forestDiv2 {
    width: 20%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.forestDiv3 {
    width: 20%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.forestDiv4 {
    width: 20%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.beach {
    background-image: url('images/beach.jpg');
    opacity: 0.7;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-size: cover;
}

.beachDiv1 {
    height: 99%;
    width: 75%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.beachDiv2 {
    height: 99%;
    width: 24%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.deepForest {
    background-image: url('images/deep_forest.jpg');
    opacity: 0.7;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-size: cover;
}

.deepForestDiv1 {
    height: 99%;
    width: 75%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.deepForestDiv2 {
    height: 99%;
    width: 24%;
    display: flex;
    justify-content: flex-end;
}

.cave {
    background-image: url('images/cave.jpg');
    opacity: 0.7;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-size: cover;
}

.caveDiv1 {
    height: 99%;
    width: 75%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.caveDiv2 {
    height: 99%;
    width: 24%;
    display: flex;
    justify-content: flex-end;
}

.deepCave {
    background-image: url('images/deep_cave.png');
    opacity: 0.7;
    background-repeat: no-repeat, repeat;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-size: cover;
}

/*//////////////////////////////////////////////////// PAGES ///////////////////////////////////////// */




/*//////////////////////////////////////////////////// BUTTONS ///////////////////////////////////////// */

.mainPageButton { 
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.continueButton { 
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 500;
    margin: 5px;
    cursor: pointer;
}

.exitLab {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.enterTown {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.explore {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.enterLab {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
    height: 75px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.training {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 75px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.enterPokeCentre {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 75px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.enterShop {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.gym {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.pokeCentreToTown {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.healPokemon {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 75px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.leaveButton {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.respawnButton {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.shopToTown {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.buyItems {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.sellItems {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.shopTalk1 {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.leaveShop {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.enterForest {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.enterMeadow {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.enterMainTown {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.enterBeach {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.enterDeepForest {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 100px;
    height: 75px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.enterCave {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 125px;
    height: 75px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.caveToForest {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.caveToDeepCave {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.deepCaveToCave {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

.playWithShrooms {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
    align-self: center;
}

.swim {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 0px 0px 100px 0px;
    cursor: pointer;
    /* align-self: center; */
}

.kickRock {
    background-color: yellow;
    border: none;
    color: black;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    margin: 5px;
    cursor: pointer;
}

/*//////////////////////////////////////////////////// BUTTONS //////////////////////////////////////////// */



/*//////////////////////////////////////////////////// CHOOSE POKEMON //////////////////////////////////////////// */

.charmander {
    /* background-color: yellow; */
    background: linear-gradient(to bottom, red 0%,red 50%,#000000 50%,white 50%,white 100%); /* W3C */
    width: 110px;
    height: 110px;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.squirtle {
    background: linear-gradient(to bottom, red 0%,red 50%,#000000 50%,white 50%,white 100%); /* W3C */
    width: 110px;
    height: 110px;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.bulbasaur {
    background: linear-gradient(to bottom, red 0%,red 50%,#000000 50%,white 50%,white 100%); /* W3C */
    width: 110px;
    height: 110px;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.pikachu {
    width: 150px;
    height: 100px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column-reverse;
}

/*//////////////////////////////////////////////////// CHOOSE POKEMON //////////////////////////////////////////// */



/*/////////////////////////////////////////////// BATTLE DISPLAY /////////////////////////////////////////// */

.battle {
    background-repeat: no-repeat, repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    animation-name: karolin;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes karolin {
    0% {background: black; transform: rotate(3500deg) scale(.2)}
    25% {background: crimson; }
    50% {background: palegreen; transform: rotate(1500deg) scale(.6)}
    75% {background: rgb(172, 201, 12); transform: rotate(750deg)}
    90% {background: ghostwhite; transform: rotate(300deg)}
    100% {background: ghostwhite; transform: rotate(0deg)}
  }

.battleDiv1 {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.battleDiv2 {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.enemyInfoDisplay{
    background-image: linear-gradient(180deg, red, yellow);
    /* background-color: #ffb3b3; */
    border-radius: 15px;
    width: 300px;
    height: 50px;
    font-weight: 900;
    border: 2px solid black;
}

.enemyPicture{
    width: 300px;
    height: 150px;
    margin: 10px;
    background-repeat: no-repeat, repeat;
    display: flex;
    justify-content: flex;
    background-size: contain;
}

.enemyAnimation{
    position: relative;
    animation-name: enemymove;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes enemymove {
    0% {transform: translate(50px)}
    25% {transform: translate(-50px)}
    50% {transform: translate(50px)}
    75% {transform: translate(-50px)}
    100% {transform: translate(50px)}
  }

.userPicture{
    width: 300px;
    height: 150px;
    margin: 10px;
    background-repeat: no-repeat, repeat;
    justify-content: center;
    align-content: center;
    background-size: contain;
    align-self: flex-end;
}

.userAnimation{
    position: relative;
    animation-name: usermove;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes usermove {
    0% {transform: translate(50px)}
    25% {transform: translate(-50px)}
    50% {transform: translate(50px)}
    75% {transform: translate(-50px)}
    100% {transform: translate(50px)}
  }

.userInfoDisplay{
    background-image: linear-gradient(180deg, #514a9d, #24C6DC);
    /* background-image: linear-gradient(180deg, rgb(53, 156, 224), rgb(206, 63, 158)); */
    /* background-color:  #4da6ff; */
    border-radius: 15px;
    width: 300px;
    height: 50px;
    align-items: center;
    font-weight: 900;
    border: 2px solid black;
}

#userDisplay0{
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userDisplay1{
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enemyDisplay0{
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enemyDisplay1{
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertBox{
    background-image: linear-gradient(to right, #70e1f5, #ffd194);
    /* background-color:  #b3ffcc; */
    border-radius: 15px;
    width: 400px;
    height: 100px;
    text-align: center;
    font-weight: 900;
    border: 2px solid black;
}

#alertDisplay0{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#alertDisplay1{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.battleCommandsDisplay{
    width: 300px;
    height: 100px;
    /* border: 2px solid gold; */
}

.alertButtons {
    background-color: yellow;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 30%;
    height: 75%;
    font-weight: 700;
    font-size: 14px;
    border-radius: 15px;
}

.fightButton {
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    /* background-color: yellow; */
    border: none;
    color: black;
    margin: 0px 20px 3px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 45%;
    height: 45%;
    font-weight: 700;
    font-size: 14px;
    border-radius: 15px;
}

.fightButton:hover {
    color: #fff;
}
 

.itemButton {
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    /* background-color: yellow; */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 45%;
    height: 45%;
    font-weight: 700;
    font-size: 14px;
    border-radius: 15px;
}

.changePokemonButton {
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);

    /* background-color: yellow; */
    border: none;
    color: black;
    margin: 0px 20px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 45%;
    height: 45%;
    font-weight: 700;
    font-size: 14px;
    border-radius: 15px;
}

.runButton {
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);

    /* background-color: yellow; */
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 45%;
    height: 45%;
    font-weight: 700;
    font-size: 14px;
    border-radius: 15px;
}

#skill0 {
    background-color: yellow;
    border: none;
    color: black;
    margin: 0px 20px 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 45%;
    height: 45%;
    font-weight: 700;
    font-size: 14px;
    border-radius: 15px;
}

#skill1 {
    background-color: yellow;
    border: none;
    color: black;
    /* padding: 15px 32px; */
    /* text-align: center; */
    text-decoration: none;
    display: inline-block;
    /* margin: 4px 2px; */
    cursor: pointer;
    width: 45%;
    height: 45%;
    font-weight: 700;
    font-size: 14px;
    border-radius: 15px;
}

#skill2 {
    background-color: yellow;
    border: none;
    color: black;
    margin: 0px 20px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 45%;
    height: 45%;
    font-weight: 700;
    font-size: 14px;
    border-radius: 15px;
}

#skill3 {
    background-color: yellow;
    border: none;
    color: black;
    cursor: pointer;
    width: 45%;
    height: 45%;
    font-weight: 700;
    font-size: 14px;
    border-radius: 15px;
}

/*/////////////////////////////////////////////// BATTLE DISPLAY /////////////////////////////////////////// */




/*/////////////////////////////////////////////// NPC /////////////////////////////////////////// */


.professorOak1 {
    width: 150px;
    height: 125px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.professorOak2 {
    width: 150px;
    height: 125px;
    cursor: pointer;
}

.professorOak3 {
    width: 150px;
    height: 125px;
    cursor: pointer;
}

.professorOak4 {
    width: 150px;
    height: 125px;
    cursor: pointer;
}

.shopkeeper {
    width: 150px;
    height: 125px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
}

.pokeCentreNurse {
    width: 150px;
    height: 125px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
}

.suspiciousTree {
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* border: 2px solid red; */
}

.suspiciousTree1 {
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* border: 2px solid red; */
}

.shakeTrees {
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* border: 2px solid blue; */
}

.suspiciousRock {
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* border: 2px solid red; */
}

.suspiciousRock1 {
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* border: 2px solid red; */
}

.suspiciousMoss {
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* border: 2px solid red; */
    align-self: flex-start;
}

.suspiciousMoss1 {
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* border: 2px solid red; */
    align-self: flex-start;
}

.suspiciousObject {
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* border: 2px solid red; */
    align-self: flex-start;
}

.suspiciousObject1 {
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* border: 2px solid red; */
    align-self: flex-start;
}

.suspiciousThing {
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* border: 2px solid red; */
}

.suspiciousThing1 {
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* border: 2px solid red; */
}
/*/////////////////////////////////////////////// NPC /////////////////////////////////////////// */











/*/////////////////////////////////////////////// MODAL /////////////////////////////////////////// */

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
    display: flex;
    align-items: center;
}

#modal-textBox {
    background-image: url('images/modal1.jpg');
    background-size: 350px;
	height: 250px;
	width: 300px;
	border-radius: 10px;
	margin: 50px auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
	padding: 2%;
	line-height: 120%;
	font-family: Arial, Helvetica, sans-serif;
}	

#inputBox{
    margin: 5px 0px 125px 0px;
}

#modal-footer {
    text-align: right;
    display: flex;
    align-items: flex-end;
}

#close {
	padding: 10px 10px;
	background-color: #e41a1a;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
    cursor: pointer;
}

#beginJourney {
    margin: 0px 30px;
	padding: 10px 10px;
	background-color: #0af33c;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}

/*/////////////////////////////////////////////// MODAL /////////////////////////////////////////// */
